.terms {
    overflow-y: scroll;
    height: 500px;
    border: 1px solid #ddd;
    padding: 10px;
    border-style: solid;
}

.main {
    align-content: center;
    margin-left: 220px;
    margin-top: 50px;
    text-align: center;
    margin-right: 220px;
    background-color: white;
}
