.text {
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 15px;
}

.title {
    padding-top: 1rem;
    font-size: 23px;
}

.instructions {
    margin-left: 65px;
    background-color: white;
    margin-top: 30px;
    border-style: solid;
    margin-right: 65px;
}