.clear {
    float: right;
    margin-top: 20px;
    margin-right: 250px;
}

.clear:hover {
    cursor: pointer;
}

.selection {
    background-color: white;
    margin-left: 220px;
    padding-bottom: 30px;
    border-radius: 8px;
    width: 1000px;
}