.clear {
    float: right;
    margin-top: 20px;
    margin-right: 20px
}

.clear:hover {
    cursor: pointer;
}

.selection {
    margin: auto;
    background-color: white;
    padding-bottom: 30px;
    border-radius: 8px;
    max-width: 1000px;
}